 .container {
    height: 100vh;
    width: 85%;
    margin-left: 0;
    background: url("img/Blog.png");
  }

body {
  background-color: palegoldenrod;
}

.aboveWrapper {
  display: flex;
}

h1 {
  color: orange;
  font-family: Brush Script MT, Brush Script Std, cursive;
  width: max-content;
  height: 175px;
  border-radius: 25px;
  font-size: 125px;
  font-weight: 100;
  position: absolute;
  top: 275px;
  left: 275px;
}

nav {
  /* height: 100vh; */
  width: 15%;
  margin-right: 0;
  position: absolute;
  /* border: dashed black; */
}

.nav-link {
  color: #ff5757;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  padding: 20px;
}

.subheading {
  color: rgb(5, 251, 255);
  position: absolute;
  font-size: 30px;
  top: 460px;
  left: 400px;
  font-family: open sans;
  text-shadow: 1.5px 1.5px #ff5757;
}

.downArrow {
  background-color: white;
  position: absolute;
  bottom: 20px;
  left: 520px;
}

.blog-teasers {
  display: flex;
  justify-content: left;
  margin-left: 30px;
}

.card {
  margin: 35px;
  border: 3px solid #ff5757;
}